body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background: #000F08;
}

div {
    padding: 25px;
    margin: 10px;
    border-radius: 10px 10px;
}

.item {
    background: #3E2F5B;
}

h1 {
    text-align: center;
    margin: 0;
    color: white;
}

h2 {
    color: whitesmoke;
    margin: 0;
}

p {
    color: #c0c0c0;
}

span {
    color: #E0CA3C;
}

a {
    background: #F34213;
    color: white;
    padding: 7px;
    border-radius: 5px 5px;
    text-decoration: none;
}

.copy {
    font-size: 10px;
    text-align: justify;
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px
}

